* {
	font-family: Verdana;
	color: white;
}

body {
	background-color: #34495e;
}

.column {
	float: left;
	width: 30%;
	background-color: #e74c3c;
	margin-right: 3.33%;
}
/* --- Добра практика е, да не използваш само селектор по таг. Използвай го в комбинация със селектор по калс или id. 
	Причината е, че ако използваш само селектор по таг, ще почнеш да си пречиш, понеже навсчкъде по страницата ще промениш float-а на изображенията, а не навсякъде ще е желан ефект, и ще трябва да презаписващ този селектир --- */
.row img {
	float: left;
}

.info {
	margin-top: 2%;
    margin-left: 35%;
}

span {
	font-weight: bold;
}

.name {
	font-size: 20px;
	font-weight: bold; 
}

.values {
	color: #f1c40f;
	font-size: 12px;
	font-weight: normal;
}
